/*
 * -------------------------------------------------
 * JUNO LSF
 * -------------------------------------------------
 * Pipeline parameters specific to running nextflow/nf-core pipelines on new JUNO
 * -------------------------------------------------
 */

executor {
  name = "lsf"
  queueSize = 1000
  //
  // Our (JUNO) LSF is configured to use memory per core
  // so this should be set to _false_. But need to adjust
  // the memory settings below to reflect this.
  // And also need to set perTaskReserve = true
  // for this to work
  //
  perJobMemLimit = false
  perTaskReserve = true
}

process {
  clusterOptions = "-R cmorsc1"
}
